{% extends "base.html" %}

{% block header %}
    {% if back_url %}
        <a class="btn-back" href="{{ back_url }}">back to the patient</a>
    {% endif %}
    {{ observation.get_category_display() or "Observation" }} {{ observation.observation_id }}

{% endblock %}

{% block content %}

    <div class="section-header">Observation info:</div>

    <table class="table table-hover">
        <tbody>
        <tr {% if observation.observation_id != prev_observation.observation_id %}class="row-updated"{% endif %}>
            <th>ID</th>
            <th>{{ observation.observation_id }}</th>
        </tr>
        <tr {% if observation.subject_id != prev_observation.subject_id %}class="row-updated"{% endif %}>
            <th>Patient ID</th>
            <th>{{ observation.subject_id }}</th>
        </tr>
        <tr {% if observation.status != prev_observation.status %}class="row-updated"{% endif %}>
            <th>Status</th>
            <th>{{ observation.status }}</th>
        </tr>
        <tr {% if observation.get_category_display() != prev_observation.get_category_display() %}class="row-updated"{% endif %}>
            <th>Observation category</th>
            <th>{{ observation.get_category_display() }}</th>
        </tr>
        <tr {% if observation.get_code_display() != prev_observation.get_code_display() %}class="row-updated"{% endif %}>
            <th>Observation type</th>
            <th>{{ observation.get_code_display() }}</th>
        </tr>
        <tr {% if observation.get_observation_date_display() != prev_observation.get_observation_date_display() %}class="row-updated"{% endif %}>
            <th>Observation date</th>
            <th>
                <form method="post" action="{{ current_url }}">
                    <input class="form-control" name="observation_date" type="date"
                           value="{{ observation.get_observation_date_display() }}">
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </th>
        </tr>
        <tr {% if observation.get_observation_time_display() != prev_observation.get_observation_time_display() %}class="row-updated"{% endif %}>
            <th>Observation time</th>
            <th><form method="post" action="{{ current_url }}">
                    <input class="form-control" name="observation_time" type="time"
                           value="{{ observation.get_observation_time_display() }}">
                    <button class="btn btn-primary" type="submit">Update</button>
                </form></th>
        </tr>
        {% if not observation.value_sampled_data_flag %}
            <tr {% if observation.get_quantity_value_display() != prev_observation.get_quantity_value_display() %}class="row-updated"{% endif %}>
                <th>Results</th>
                <th>{{ observation.get_quantity_value_display() }} {{ observation.get_quantity_unit_display() }}</th>
            </tr>
        {% else %}
            <tr {% if observation.value_sampled_data_period != prev_observation.value_sampled_data_period %}class="row-updated"{% endif %}>
                <th>Sampled data period</th>
                <th>{{ observation.value_sampled_data_period }}</th>
            </tr>
            <tr {% if observation.value_sampled_data_factor != prev_observation.value_sampled_data_factor %}class="row-updated"{% endif %}>
                <th>Sampled data factor</th>
                <th>{{ observation.value_sampled_data_factor }}</th>
            </tr>
            <tr {% if observation.value_sampled_data_lower_limit != prev_observation.value_sampled_data_lower_limit %}class="row-updated"{% endif %}>
                <th>Sampled data lower limit</th>
                <th>{{ observation.value_sampled_data_lower_limit }}</th>
            </tr>
            <tr {% if observation.value_sampled_data_upper_limit != prev_observation.value_sampled_data_upper_limit %}class="row-updated"{% endif %}>
                <th>Sampled data upper limit</th>
                <th>{{ observation.value_sampled_data_upper_limit }}</th>
            </tr>
        {% endif %}
        <tr>
            <th>Version</th>
            <th>
                {% if observation.version_id %}
                    <select class="form-control select-version">
                        {% for version_ in range(1, max_version) %}
                            <option {% if version_ == observation.version_id %}selected{% endif %}>{{ version_ }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </th>
        </tr>
        <tr>
            <th>Last updated</th>
            <th>
                {{ observation.get_last_updated() }}
            </th>
        </tr>

        </tbody>
    </table>

    {% if observation.value_sampled_data_flag %}

        <div class="section-header">Sampled data:</div>
        <canvas id="chart" width="1200" height="800"></canvas>

        <script>

            var ctx = document.getElementById("chart").getContext("2d");

            var chart = new Chart(ctx, {
                type: "line",
                options: {
                    legend: {
                        display: false,
                    },
                    tooltips: {
                        enabled: false
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }
                },
                data: {
                    labels: [{% for item in get_labels(observation.get_value_sampled_data()) %}{{ item }}, {% endfor %}],
                    datasets: [{
                        labels: false,
                        borderColor: "black",
                        fill: false,
                        data: [{% for item in observation.get_value_sampled_data() %}{{ item }}, {% endfor %}]
                    }]
                }
            })

        </script>


    {% endif %}

    {% if observation_compare %}


        <div class="section-header">Data dynamics in time:</div>

        <form action="{{ current_url }}">
            <div class="form-row">
                <div class="col">
                    <label for="date-from">From</label>
                    <input type="date" id="date-from" class="form-control" name="from" value="{{ lower_date }}">
                </div>
                <div class="col">
                    <label for="date-to">To</label>
                    <input type="date" id="date-to" class="form-control" name="to" value="{{ upper_date }}">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-2">Filter</button>
                </div>
            </div>
        </form>

        <canvas id="chart-compare" width="1200" height="800"></canvas>

        <script>

            var ctx = document.getElementById("chart-compare").getContext("2d");

            var chart = new Chart(ctx, {
                type: "line",
                options: {
                    legend: {
                        display: false,
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontSize: 20
                            }
                        }],
                        xAxes: [{
                            display: true,
                            ticks: {
                                fontSize: 20
                            }
                        }]
                    },
                    elements: {
                        point: {
                            radius: 5
                        }
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem) {
                                return tooltipItem.yLabel + " {{ observation.get_quantity_unit_display() }}"
                            }
                        },
                        backgroundColor: '#FFF',
                        titleFontSize: 20,
                        titleFontColor: '#0066ff',
                        bodyFontColor: '#000',
                        bodyFontSize: 18,
                        borderColor: "#0066ff",
                        displayColors: false,
                        titleAlign: 'center',
                        bodyAlign: 'center'
                    }
                },
                data: {
                    labels: [{% for item in observation_compare %}"{{ item.get_observation_date_display().__str__() }}", {% endfor %}],
                    datasets: [{
                        fontSize: 30,
                        borderColor: "blue",
                        fill: true,
                        data: [{% for item in observation_compare %}{{ item.get_quantity_value_float() }}, {% endfor %}]
                    }]
                }
            })

        </script>


    {% endif %}


{% endblock %}