{% extends "base.html" %}

{% block header %}
    {% if back_url %}
    <a class="btn-back" href="{{ back_url }}">back to the patient</a>
    {% endif %}
    {{ observation.get_category_display() }} {{ observation.get_code_display() }}

{% endblock %}

{% block content %}

    <div class="section-header">Observation info:</div>

    <table class="table table-hover">
        <tbody>
        <tr>
            <th>ID</th>
            <th>{{ patient.patient_id }}</th>
        </tr>
        <tr>
            <th>Last name</th>
            <th>{{ patient.last_name }}</th>
        </tr>
        <tr>
            <th>First name</th>
            <th>{{ patient.get_first_names_display() }}</th>
        </tr>
        <tr>
            <th>Gender</th>
            <th>{{ patient.get_gender_display() }}</th>
        </tr>
        <tr>
            <th>Birth date</th>
            <th>{{ patient.get_birth_date_display() }}</th>
        </tr>
        <tr>
            <th>Address</th>
            <th>{{ patient.get_address_display() }}</th>
        </tr>
        <tr>
            <th>Contact</th>
            <th>{{ patient.get_contact_display() }}</th>
        </tr>
        </tbody>
    </table>

    <div class="section-header">Events:</div>

    {% for event in events %}
        <div class="observation">
            {% if event.resource == "observation" %}
                <div class="observation-icon"></div>
                <div class="observation-datetime">
                    <div class="observation-time">{{ event.get_observation_time_display() }}</div>
                    <div class="observation-date">{{ event.get_observation_date_display() }}</div>
                </div>
                <div class="observation-description">
                    <div class="observation-code">{{ event.get_code_display() }} </div>
                    <div class="observation-category">{{ event.get_category_display() }}</div>
                </div>
                <div class="observation-quantity">
                    <div class="observation-quantity-value">
                        {% if event.value_sampled_data_flag %}
                            <a type="button" data-toggle="modal"
                               data-target="#modal-{{ event.observation_id }}">
                                Show
                            </a>
                        {% else %}
                            {{ event.get_quantity_value_display() }}
                        {% endif %}
                    </div>
                    <div class="observation-quantity-unit">
                        {{ event.get_quantity_unit_display() }}
                    </div>
                </div>
            {% elif event.resource == "medication_statements" %}
                <div class="medicament-icon"></div>
                <div class="observation-datetime">
                    <div class="observation-time">{{ event.get_event_time_display() }}</div>
                    <div class="observation-date">{{ event.get_event_date_display() }}</div>
                </div>
                <div class="observation-description">
                    <div class="observation-code">{{ event.get_code_display() }} </div>
                    <div class="observation-category">{{ event.get_category_display() }}</div>
                </div>
                <div class="observation-quantity">
                    <div class="observation-quantity-value">
                        {{ event.get_quantity_value_display()|safe }}
                    </div>
                    <div class="observation-quantity-unit">
                        {{ event.get_quantity_unit_display() }}
                    </div>
                </div>
            {% endif %}
        </div>

        {% if event.value_sampled_data_flag %}
            <div class="modal fade"
                 id="modal-{{ event.observation_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Observation {{ event.observation_id }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <canvas id="chart" width="600" height="400"></canvas>
                            <script>
                                // bar chart data
                                var barData = {
                                    labels: [
                                        {% for item in labels %}
                                            "{{ item }}",
                                        {% endfor %}
                                    ],

                                    datasets: [{
                                        fillColor: "rgba(151,187,205,0.2)",
                                        strokeColor: "rgba(151,187,205,1)",
                                        pointColor: "rgba(151,187,205,1)",
                                        data: [
                                            {% for item in event.value_sampled_data_data %}
                                                "{{ item }}",
                                            {% endfor %}
                                        ]
                                    }
                                    ]
                                }

                                // get bar chart canvas
                                var mychart = document.getElementById("chart").getContext("2d");

                                steps = 10
                                max = {{max}}

                                    // draw bar chart
                                    new Chart(mychart).Bar(barData, {
                                            scaleOverride: true,
                                            scaleSteps: steps,
                                            scaleStepWidth: Math.ceil("{{ event.value_sampled_data_upper_limit }}" / steps),
                                            scaleStartValue: 0,
                                            scaleShowVerticalLines: true,
                                            scaleShowGridLines: true,
                                            barShowStroke: true,
                                            scaleShowLabels: true
                                        }
                                    );

                            </script>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}